body{
    @apply
    bg-green-50
}

h1{
    @apply
    text-3xl
    font-bold
    text-center
    mb-5
}

h2{
    @apply
    text-2xl
    font-bold
    text-center
    mb-4
}

input, button{
    @apply
    w-full
    border border-black
    rounded
    outline-none
    px-2 py-1
    mb-5
    bg-white
}

button{
    @apply
    block
    cursor-pointer
    disabled:cursor-not-allowed
    disabled:bg-stone-200
    transition
    hover:bg-stone-500
}

form{
    @apply
    h-fit
    border border-black
    rounded
    p-12
}

._flex{
    @apply
    flex
    items-center
    justify-center
}